<form [formGroup]="form" autocomplete="off" class="p-3 d-flex flex-column">
  <div class="d-flex flex-column">
    <div class="d-flex flex-row global-row">
      <mat-form-field appearance="outline" class="item-lg">
        <mat-label>Etiqueta de Solicitud</mat-label>
        <input
          matInput
          type="text"
          (change)="onUpdateLabel($event.target.value)"
          [value]="globalSettings.label"
          placeholder="Ingresar etiqueta" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="item-lg">
        <mat-label>Estrategia de Resolución</mat-label>
        <mat-select
          (selectionChange)="onUpdateSearchMode($event.value)"
          [value]="currentSearchMode">
          <mat-option *ngFor="let key of searchModeKeys" [value]="key">
            {{ searchModeLabels[key] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="item-lg">
        <mat-label>Límite de Tiempo (s)</mat-label>
        <input
          matInput
          type="number"
          min="1"
          max="3600"
          [formControl]="timeout"
          (change)="onUpdateTimeout()"
          placeholder="Segundos" />
        <mat-error *ngIf="timeout.errors"> Debe estar en el rango 1-3600. </mat-error>
      </mat-form-field>
      <div class="settings-traffic">
        <div class="mat-body-strong">Tráfico</div>
        <mat-checkbox
          [checked]="globalSettings.traffic"
          color="primary"
          (change)="onUpdateTraffic($event.checked)">
          Considerar Tráfico
        </mat-checkbox>
      </div>
    </div>
    <div class="d-flex flex-row global-row">
      <div class="timezone-settings">
        <app-timezone-edit
          appearance="outline"
          [currentTimezone]="currentTimezone"
          (timezoneSelected)="onUpdateTimezone($event)">
        </app-timezone-edit>
      </div>
      <div>
        <div class="mat-body-strong">Poblar polilíneas de transición</div>
        <mat-slide-toggle
          color="primary"
          [checked]="isSelectPopulateTransitionPolylines"
          (change)="toggleSelectPopulateTransitionPolylines($event)"
          [formControl]="populateTransitionPolylines">
          {{ isSelectPopulateTransitionPolylines ? 'Activado' : 'Desactivado' }}
        </mat-slide-toggle>
      </div>
      <div>
        <div class="mat-body-strong">Permitir fecha límite grande a pesar del riesgo de interrupción</div>
        <mat-slide-toggle
          color="primary"
          [checked]="isSelectAllowLargeDeadlineDespiteInterruptionRisk"
          (change)="toggleSelectAllowLargeDeadlineDespiteInterruptionRisk($event)"
          [formControl]="allowLargeDeadlineDespiteInterruptionRisk">
          {{ isSelectAllowLargeDeadlineDespiteInterruptionRisk ? 'Activado' : 'Desactivado' }}
        </mat-slide-toggle>
      </div>
    </div>
    <div class="d-flex flex-row global-row">
      <div *ngIf="hasSolution$ | async">
        <div class="mat-body-strong">Iterar en solución</div>
        <mat-slide-toggle
          color="primary"
          [checked]="injectedSolution && (hasSolution$ | async)"
          (change)="toggleInjectedSolution($event)">
          {{ injectedSolution ? 'Activado' : 'Desactivado' }}
        </mat-slide-toggle>
      </div>
      <div *ngIf="injectedSolution" class="settings-interpret">
        <div class="mat-body-strong">Interpretar soluciones inyectadas usando etiquetas</div>
        <mat-slide-toggle
          color="primary"
          [checked]="isInterpretInjectedSolutionsUsingLabels"
          (change)="toggleInterpretInjectedSolutionsUsingLabels($event)"
          [formControl]="interpretInjectedSolutionsUsingLabels">
          {{ isInterpretInjectedSolutionsUsingLabels ? 'Activado' : 'Desactivado' }}
        </mat-slide-toggle>
      </div>
    </div>
  </div>
  <div>
    <div *ngIf="injectedSolution && !constraintRelaxations.length">
      <div class="mat-body-strong">Relajaciones de iteración</div>
      <mat-form-field appearance="outline">
        <mat-select [value]="0" (selectionChange)="initialRelaxationConstraintChanged($event)">
          <mat-option *ngFor="let key of relaxationLevelKeys" [value]="RelaxationLevel[key]">
            {{ RelaxationLevelNames[key] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="settings-relaxation" *ngIf="injectedSolution && constraintRelaxations.length">
      <div class="mat-body-strong">Relajaciones de iteración</div>
      <app-injected-relaxation-constraints-form
        [appearance]="'outline'"
        [maxToShow]="1"
        formArrayName="constraintRelaxations"
        (inputChange)="updateThresholds()"
        (removeThreshold)="removeThreshold($event)">
      </app-injected-relaxation-constraints-form>
      <p *ngIf="updatedTimeThresholds.length">
        <button type="button" mat-button color="primary" (click)="editAllThresholds()">
          {{
            updatedTimeThresholds.length <= 1
              ? 'Agregar más relajaciones'
              : 'Mostrar ' + (updatedTimeThresholds.length - 1) + ' más'
          }}
        </button>
      </p>
    </div>
  </div>
</form>
