<button
  mat-button
  class="mat-elevation-z0"
  color=""
  aria-label="Deshacer"
  title="Deshacer el último cambio"
  (click)="onUndo()"
  [disabled]="(disabled$ | async) || (canUndo$ | async) !== true">
  <mat-icon>undo</mat-icon>
  <span class="undo-redo-text">Deshacer</span>
</button>
<button
  mat-button
  class="mat-elevation-z0"
  color=""
  aria-label="Rehacer"
  title="Rehacer el último cambio"
  (click)="onRedo()"
  [disabled]="(disabled$ | async) || (canRedo$ | async) !== true">
  <mat-icon>redo</mat-icon>
  <span class="undo-redo-text">Rehacer</span>
</button>
