<form [formGroup]="form" (ngSubmit)="apply.emit()">
  <mat-form-field *ngIf="operationCtrl as control">
    <mat-select [formControl]="control">
      <mat-option *ngFor="let operation of operations" [value]="operation">
        {{ operation }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field
    *ngIf="operationCtrl.value !== StringFilterOperation.Empty && valueCtrl as control">
    <mat-label>Valor</mat-label>
    <input matInput [formControl]="control" required />
    <mat-error *ngIf="control.errors?.required && (control.touched || control.dirty)">
      El valor es requerido
    </mat-error>
  </mat-form-field>
</form>
