<div class="kpis-title">Métricas de Solicitud</div>
<div class="metrics-box-container">
  <div class="metric-box">
    <div class="mb-1 metric-box-title">Envíos en total</div>
    <div class="mb-0 metric-box-value">
      {{ kpis.shipmentKpis.selected }} / {{ kpis.shipmentKpis.total }}
    </div>
  </div>
  <div class="metric-box">
    <div class="mb-1 metric-box-title">Demandas de carga totales</div>
    <div class="mb-0 metric-box-value" *ngIf="kpis.shipmentKpis.demands?.length; else noValue">
      {{ kpis.shipmentKpis.demands[0].selected | number }} {{ kpis.shipmentKpis.demands[0].type }}
    </div>
    <div class="mb-0 metric-box-value" *ngIf="kpis.shipmentKpis.demands?.length > 1">
      {{ kpis.shipmentKpis.demands[1].selected | number }} {{ kpis.shipmentKpis.demands[1].type }}
    </div>
    <div class="metric-box-value" *ngIf="kpis.shipmentKpis.demands?.length > 2">
      <a (click)="showAllKpis()">Ver más...</a>
    </div>
  </div>
  <div class="metric-box">
    <div class="mb-1 metric-box-title">Capacidad total de vehículos</div>
    <div class="mb-0 metric-box-value" *ngIf="kpis.vehicleKpis.capacities?.length; else noValue">
      {{ kpis.vehicleKpis.capacities[0].selected | number }}
      {{ kpis.vehicleKpis.capacities[0].type }}
    </div>
    <div class="mb-0 metric-box-value" *ngIf="kpis.vehicleKpis.capacities?.length > 1">
      {{ kpis.vehicleKpis.capacities[1].selected | number }}
      {{ kpis.vehicleKpis.capacities[1].type }}
    </div>
    <div class="metric-box-value" *ngIf="kpis.vehicleKpis.capacities?.length > 2">
      <a (click)="showAllKpis()">Ver más...</a>
    </div>
  </div>
  <div class="metric-box">
    <div class="mb-1 metric-box-title">Número de vehículos</div>
    <div class="mb-0 metric-box-value">
      {{ kpis.vehicleKpis.selected }} / {{ kpis.vehicleKpis.total }}
    </div>
  </div>
  <div class="metric-box">
    <div class="mb-1 metric-box-title">Tiempo de permanencia</div>
    <div class="mb-0 metric-box-value">
      {{ formattedDurationSeconds(kpis.shipmentKpis.dwellTime) }}
    </div>
  </div>
  <div class="metric-box">
    <div class="mb-1 metric-box-title">Número de recolecciones</div>
    <div class="mb-0 metric-box-value">{{ kpis.shipmentKpis.pickups }}</div>
  </div>
  <div class="metric-box">
    <div class="mb-1 metric-box-title">Número de entregas</div>
    <div class="mb-0 metric-box-value">{{ kpis.shipmentKpis.deliveries }}</div>
  </div>
</div>

<ng-template #noValue>
  <span>-</span>
</ng-template>
