<h1 mat-dialog-title>{{ getTitle() }}</h1>
<div mat-dialog-content>
  <div *ngIf="state === GenerationState.Waiting" class="progress">
    <button
      type="button"
      mat-flat-button
      color="primary"
      class="all-routes"
      (click)="beginGeneration(false)">
      Generar para todas las rutas
    </button>
    <button type="button" mat-flat-button color="primary" (click)="beginGeneration(true)">
      Generar para rutas seleccionadas y filtradas
    </button>
  </div>
  <div *ngIf="state !== GenerationState.Waiting">
    <div class="progress" *ngIf="state === GenerationState.Complete">
      <p>
        Si la descarga no comenzó automáticamente, puedes hacer clic
        <a href="javascript:void(0)" (click)="downloadReport()">aquí</a> para descargar el reporte.
      </p>
      <p>Ahora es seguro cerrar esta ventana.</p>
    </div>
    <div class="progress" *ngIf="state === GenerationState.BuildingDocument">
      <p>Construyendo reporte...</p>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="progress" *ngIf="state === GenerationState.RenderingMaps">
      <p>Generando mapas...</p>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="progress" *ngIf="state === GenerationState.Error">
      <mat-error class="mat-body-strong"> Error generando reporte </mat-error>
      <p>
        {{ errorMessage }}
      </p>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button
    type="button"
    mat-flat-button
    [color]="state === GenerationState.Complete ? 'primary' : 'warn'"
    (click)="cancel()">
    {{ state === GenerationState.Complete ? 'Cerrar' : 'Cancelar' }}
  </button>
</div>
