<h3 class="d-flex flex-column">
  <button
    mat-icon-button
    class="small-close-button"
    type="button"
    title="Cancelar"
    (click)="cancel()">
    <mat-icon svgIcon="clear"></mat-icon>
  </button>
  <div class="strong">¿Cuál es la diferencia entre una solicitud y una respuesta?</div>
</h3>
<p>
  Una solicitud es un problema de enrutamiento de vehículos (VRP) que Fleet Routing puede resolver. Consiste en
  uno o más vehículos y uno o más envíos para entregar.
</p>

<p>
  Una respuesta es lo que produce la API de Fleet Routing en respuesta a una solicitud para resolver. Las respuestas son
  visibles en FleetRouting App a través del diagrama de Gantt, en un mapa, o en la vista de Metadatos.
</p>
