<ng-container
  *ngIf="numberOfShipments || numberOfVehicles; then selection; else noSelection"></ng-container>

<ng-template #selection>
  <ng-container *ngIf="!numberOfShipments || !numberOfVehicles; then partialSelection">
  </ng-container>
</ng-template>

<ng-template #partialSelection>
  <ng-container *ngIf="numberOfShipments; else onlyVehicles">
    Selecciona vehículos para generar la respuesta.
  </ng-container>

  <ng-template #onlyVehicles> Selecciona envíos para generar la respuesta. </ng-template>
</ng-template>

<ng-template #noSelection> Selecciona envíos y vehículos para generar la respuesta. </ng-template>
