<div *ngFor="let group of control?.controls; index as i" class="mat-typography" [formGroup]="group">
  <header [ngClass]="{ 'header-top-margin': i > 0 }">Límite de carga</header>
  <div class="contents">
    <!-- Form controls -->
    <div>
      <mat-form-field class="pad-right">
        <mat-label>Tipo</mat-label>
        <input
          matInput
          formControlName="type"
          [matAutocomplete]="typeAuto"
          type="text"
          placeholder="Ej. peso"
          autocomplete="new-password"
          (focus)="setAutocompleteFocus(i)"
          (input)="checkLoadLimitUsage(i)" />
        <mat-error
          *ngIf="group.getError('required', 'type')"
          [attr.title]="typeErrorMessage.innerText">
          <span #typeErrorMessage>Requerido</span>
        </mat-error>
        <mat-autocomplete #typeAuto="matAutocomplete">
          <mat-option *ngFor="let option of filteredTypes$ | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="pad-right">
        <mat-label>Carga máxima</mat-label>
        <input matInput formControlName="maxLoad" type="number" placeholder="Ingresar cantidad" />
        <mat-error *ngIf="group.get('maxLoad').errors" [attr.title]="maxLoadErrorMessage.innerText">
          <span #maxLoadErrorMessage>{{
            group.getError('required', 'maxLoad') ? 'Requerido' : 'Se requiere entero no negativo'
          }}</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="pad-right">
        <mat-label>Carga máxima suave</mat-label>
        <input
          matInput
          formControlName="softMaxLoad"
          type="number"
          placeholder="Ingresar cantidad"
          min="0"
          [errorStateMatcher]="softMaxErrorStateMatcher" />
        <mat-error
          *ngIf="group.get('softMaxLoad').errors"
          [attr.title]="softMaxValueErrorMessage.innerText">
          <span #softMaxValueErrorMessage>No puede ser negativo</span>
        </mat-error>
        <mat-error
          *ngIf="group.errors?.softMaxLessThanMax"
          [attr.title]="softMaxErrorMessage.innerText">
          <span #softMaxErrorMessage>El máximo suave debe ser menor que la carga máxima</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="pad-right">
        <mat-label>Costo por unidad por encima de la carga máxima suave</mat-label>
        <input
          matInput
          formControlName="costPerUnitAboveSoftMax"
          type="number"
          placeholder="Ingresar cantidad"
          min="0" />
        <mat-error
          *ngIf="group.get('costPerUnitAboveSoftMax').errors"
          [attr.title]="softMaxErrorMessage.innerText">
          <span #softMaxErrorMessage>No puede tener un costo negativo</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="pad-right">
        <mat-label>Mínimo del intervalo de carga inicial</mat-label>
        <input
          matInput
          formControlName="startLoadIntervalMin"
          type="number"
          placeholder="Ingresar cantidad"
          min="0"
          [errorStateMatcher]="startLoadErrorStateMatcher" />
        <mat-error
          *ngIf="group.get('startLoadIntervalMin').errors"
          [attr.title]="startLoadIntervalMinErrorMessage.innerText">
          <span #startLoadIntervalMinErrorMessage>No puede ser negativo</span>
        </mat-error>
        <mat-error
          *ngIf="group.errors?.startMinLessThanMax"
          [attr.title]="startLoadIntervalMinMaxErrorMessage.innerText">
          <span #startLoadIntervalMinMaxErrorMessage>El mínimo debe ser menor que el máximo</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="pad-right">
        <mat-label>Máximo del intervalo de carga inicial</mat-label>
        <input
          matInput
          formControlName="startLoadIntervalMax"
          type="number"
          placeholder="Ingresar cantidad"
          min="0" />
        <mat-error
          *ngIf="group.get('startLoadIntervalMax').errors"
          [attr.title]="startLoadIntervalMaxErrorMessage.innerText">
          <span #startLoadIntervalMaxErrorMessage>No puede ser negativo</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="pad-right">
        <mat-label>Mínimo del intervalo de carga final</mat-label>
        <input
          matInput
          formControlName="endLoadIntervalMin"
          type="number"
          placeholder="Ingresar cantidad"
          min="0"
          [errorStateMatcher]="endLoadErrorStateMatcher" />
        <mat-error
          *ngIf="group.get('endLoadIntervalMin').errors"
          [attr.title]="endLoadIntervalMinErrorMessage.innerText">
          <span #endLoadIntervalMinErrorMessage>No puede ser negativo</span>
        </mat-error>
        <mat-error
          *ngIf="group.errors?.endMinLessThanMax"
          [attr.title]="endLoadIntervalMinMaxErrorMessage.innerText">
          <span #endLoadIntervalMinMaxErrorMessage>El mínimo debe ser menor que el máximo</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Máximo del intervalo de carga final</mat-label>
        <input
          matInput
          formControlName="endLoadIntervalMax"
          type="number"
          placeholder="Ingresar cantidad"
          min="0" />
        <mat-error
          *ngIf="group.get('endLoadIntervalMax').errors"
          [attr.title]="endLoadIntervalMaxErrorMessage.innerText">
          <span #endLoadIntervalMaxErrorMessage>No puede ser negativo</span>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Delete button -->
    <div>
      <button
        type="button"
        class="clear-place"
        (click)="removeLoadLimit(i)"
        mat-icon-button
        title="Eliminar capacidad"
        [disabled]="disabled">
        <mat-icon class="icon--smaller m-0" svgIcon="delete"></mat-icon>
      </button>
    </div>
  </div>
  <p class="unused-load-limit-warning" *ngIf="unusedLoadLimits[i]">
    Este tipo de demanda y/o unidad no existe en ningún vehículo.
  </p>
</div>
