<form [formGroup]="form" autocomplete="off" novalidate (ngSubmit)="solve()">
  <h1 mat-dialog-title class="d-flex flex-column">
    <button
      mat-icon-button
      class="small-close-button"
      type="button"
      title="Cancelar"
      (click)="cancel()">
      <mat-icon svgIcon="clear"></mat-icon>
    </button>
    <span> Subir una solicitud o respuesta </span>
  </h1>
  <div mat-dialog-content>
    <mat-divider class="mb-4"></mat-divider>
    <h3 class="strong">¿Qué tipos de archivos puedo usar?</h3>
    <h4 class="strong d-flex mb-2">
      Cargar archivos de solicitud y respuesta
      <a
        (click)="openScenarioSolutionHelp()"
        class="ml-1 scenario-solution-help-icon blue-svg-icon">
        <mat-icon svgIcon="help-filled"></mat-icon>
      </a>
    </h4>
    <div class="upload-container json-upload-container d-flex flex-column">
      <div class="d-flex flex-row justify-content-between w-100 json-description-container">
        <div class="d-flex flex-column json-description">
          <div class="align-items-center d-flex">
            <div>
              <mat-icon svgIcon="json" class="json-icon"></mat-icon>
            </div>
            <span class="ml-1 mat-body-strong">Archivo .json</span>
          </div>
          <p class="description-text">
            Usa esta opción cuando tengas un archivo .json que contenga una solicitud VRP que quieres resolver.
          </p>
        </div>
        <div class="d-flex flex-column json-description">
          <div class="align-items-center d-flex">
            <div class="blue-svg-icon">
              <mat-icon svgIcon="zip"></mat-icon>
            </div>
            <span class="ml-1 mat-body-strong">Archivo .zip</span>
          </div>
          <p class="description-text">
            Usa esta opción cuando tengas un archivo .zip que contenga tanto los archivos de solicitud como de respuesta.
            El archivo .zip debe contener dos archivos .json, uno para la solicitud y otro para la respuesta.
          </p>
        </div>
      </div>
      <div class="file-input">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="selectFile()"
          [disabled]="validatingUpload">
          {{ validatingUpload ? 'Validando...' : 'Elegir un archivo' }}
        </button>
        <mat-form-field class="w-100 mt-3" [hideRequiredMarker]="true">
          <input
            matInput
            [placeholder]="fileName.value ? 'Archivo seleccionado' : 'Seleccionar archivo'"
            [readonly]="true"
            [formControl]="fileName"
            [errorStateMatcher]="fileUploadErrorStateMatcher"
            required />
          <mat-error
            *ngIf="
              fileName.errors?.required && fileName.touched && fileName.dirty && !validatingUpload
            ">
            El archivo es requerido.
          </mat-error>
          <mat-error *ngIf="fileName.errors?.zipContents && (fileName.touched || fileName.dirty)">
            {{ getZipErrorMessage() }}
          </mat-error>
          <mat-error *ngIf="fileName.errors?.fileFormat && (fileName.touched || fileName.dirty)">
            No podemos subir este archivo. Por favor intenta con otro archivo.
          </mat-error>
          <mat-error *ngIf="fileName.errors?.requestFormat && (fileName.touched || fileName.dirty)">
            El archivo proporcionado no contiene una solicitud válida de Optimización de Rutas. Por favor intenta
            con otro archivo.
          </mat-error>
        </mat-form-field>
        <!-- resolve place ids -->
        <div
          *ngIf="scenarioHasPlaceIds && placeIdProgress < placeIdCount"
          class="d-flex flex-column mat-small mt-3">
          <div *ngIf="!resolvingPlaceIds" class="d-flex flex-column align-items-center">
            <p>
              ⚠️ Esta solicitud contiene waypoints con Place ID. Algunas funciones de la aplicación requieren
              ubicaciones lat/lng. Haz clic en el botón de abajo para solicitar la ubicación lat/lng de todos los Place
              IDs en la solicitud (tomará unos minutos). Puedes continuar solo con los Place IDs, pero algunas partes de la aplicación pueden no funcionar correctamente.
            </p>
            <button
              type="button"
              mat-stroked-button
              color="primary"
              class="white-button"
              (click)="resolveWaypointPlaceIds()">
              Obtener ubicaciones de Place ID
            </button>
          </div>

          <div *ngIf="resolvingPlaceIds">
            <mat-progress-bar [value]="(placeIdProgress / placeIdCount) * 100"></mat-progress-bar>
            <mat-label
              >Solicitando ubicaciones de Place ID... ({{ placeIdProgress | number }} de
              {{ placeIdCount | number }})</mat-label
            >
          </div>

          <mat-error *ngIf="placeIdError">
            {{ placeIdError }}
          </mat-error>
        </div>
        <!-- file input browser (not visible) -->
        <input
          #fileInput
          type="file"
          accept=".json,.zip"
          (cancel)="onCancelSelectFile()"
          (click)="fileUploadClicked($event)"
          (change)="fileSelected($event)" />
      </div>
    </div>
    <h4 class="strong d-flex mt-4 mb-2">
      Cargar datos de envíos y vehículos individualmente
      <a (click)="openCsvHelp()" class="ml-1 scenario-solution-help-icon blue-svg-icon">
        <mat-icon svgIcon="help-filled"></mat-icon>
      </a>
    </h4>
    <div class="upload-container csv-upload-container d-flex flex-column">
      <div class="align-items-center d-flex">
        <mat-icon svgIcon="csv2"></mat-icon>
        <span class="ml-1 mat-body-strong">Archivos .csv</span>
      </div>
      <p class="description-text">
        Usa esta opción cuando tengas archivos CSV que contengan datos de envíos y/o vehículos.
      </p>
      <div>
        <button
          type="button"
          mat-stroked-button
          color="primary"
          class="white-button"
          (click)="loadFromCsv()">
          Continuar
        </button>
      </div>
    </div>
  </div>
</form>
