<div mat-dialog-title>
  <h2 class="inline mat-h2">Regenerar respuesta</h2>
  <button mat-icon-button type="button" title="Cancelar" (click)="cancel.emit()">
    <mat-icon svgIcon="clear"></mat-icon>
  </button>
</div>
<div mat-dialog-content>
  Vas a regenerar la respuesta basada en la nueva solicitud planificada. La respuesta anterior será
  reemplazada por la nueva.
</div>
<div mat-dialog-actions>
  <button type="button" mat-button color="primary" (click)="confirm.emit()">
    Generar nueva respuesta
  </button>
</div>
