<form [formGroup]="form" autocomplete="off" class="d-flex flex-column p-3">
  <div class="d-flex flex-row model-items align-items-end">
    <div>
      <div class="d-flex flex-row model-items">
        <!-- global duration cost per hour -->
        <div class="settings-item col">
          <mat-form-field appearance="outline">
            <mat-label>Costo Global de Duración por Hora</mat-label>
            <input
              matInput
              type="number"
              min="0"
              pattern="\d*(\.\d+)?"
              step=".1"
              (ngModelChange)="onUpdateGlobalDurationCostPerHour()"
              [formControl]="globalDurationCostPerHourControl"
              placeholder="Ingresar número" />
          </mat-form-field>
          <mat-error
            class="mb-4"
            *ngIf="
              globalDurationCostPerHourControl.errors?.pattern &&
              (globalDurationCostPerHourControl.touched || globalDurationCostPerHourControl.dirty)
            "
            [attr.title]="patternMessage.innerText">
            <span #patternMessage>Se requiere número no negativo</span>
          </mat-error>
        </div>
        <!-- max active vehicles -->
        <div class="settings-item col">
          <mat-form-field appearance="outline">
            <mat-label>Máximo de Vehículos Activos </mat-label>
            <input
              matInput
              type="number"
              (change)="onUpdateMaxActiveVehicles()"
              [formControl]="maxActiveVehicles"
              min="1"
              max="{{ maxInt32 }}"
              placeholder="Ingresar número" />
            <mat-error class="mb-4" *ngIf="maxActiveVehicles.errors">
              Debe estar en el rango 1-{{ maxInt32 | number }}.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex flex-row"></div>
      <!-- global start date -->
      <div class="d-flex align-items-center flex-row">
        <div class="mat-body-strong mr-3 mb-3">Las rutas comienzan en</div>
        <mat-form-field appearance="outline" class="pad-right">
          <mat-label>Fecha de Inicio</mat-label>
          <input
            matInput
            [matDatepicker]="startDatePicker"
            [formControl]="globalStartDate"
            (dateChange)="onUpdateStartDatetime()" />
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
          <mat-error *ngIf="globalStartDate.errors"> La fecha de inicio es requerida. </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Hora de Inicio</mat-label>
          <input
            matInput
            type="time"
            [formControl]="globalStartTime"
            class="time-input"
            (change)="onUpdateStartDatetime()" />
          <mat-error *ngIf="globalStartTime.errors?.timeString"> Formato inválido </mat-error>
          <mat-error *ngIf="!globalStartTime.errors?.timeString && globalStartTime.errors">
            La hora de inicio es requerida.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- global end date -->
    <div class="d-flex align-items-center flex-row">
      <div class="mat-body-strong mr-3 mb-3">Las rutas terminan en</div>
      <mat-form-field appearance="outline" class="pad-right">
        <mat-label>Fecha de Fin</mat-label>
        <input
          matInput
          [matDatepicker]="endDatePicker"
          [formControl]="globalEndDate"
          (dateChange)="onUpdateEndDatetime()" />
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
        <mat-error *ngIf="globalEndDate.errors"> La fecha de fin es requerida. </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Hora de Fin</mat-label>
        <input
          matInput
          type="time"
          [formControl]="globalEndTime"
          class="time-input"
          (change)="onUpdateEndDatetime()"
          #endTimePicker />
        <mat-error *ngIf="globalEndTime.errors?.timeString"> Formato inválido </mat-error>
        <mat-error *ngIf="!globalEndTime.errors?.timeString && globalEndTime.errors">
          La hora de fin es requerida.
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
