<form [formGroup]="form">
  <div class="break-request-form">
    <section>
      <div class="datetime-wrapper">
        <div class="datetime">
          <mat-form-field [appearance]="appearance" class="date pad-right">
            <input
              matInput
              [matDatepicker]="earliestStartDatePicker"
              [errorStateMatcher]="earliestErrorStateMatcher"
              formControlName="earliestStartDate" />
            <mat-hint>Fecha más temprana</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="earliestStartDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #earliestStartDatePicker></mat-datepicker>
            <mat-error
              *ngIf="form.getError('required', 'earliestStartDate')"
              [attr.title]="errorMessage.innerText">
              <span #errorMessage>La fecha de inicio más temprana es requerida</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field [appearance]="appearance" class="time pad-right">
            <input
              matInput
              type="time"
              formControlName="earliestStartTime"
              [errorStateMatcher]="earliestErrorStateMatcher" />
            <mat-hint>Hora más temprana</mat-hint>
            <mat-error
              *ngIf="form.getError('required', 'earliestStartTime')"
              [attr.title]="errorMessage.innerText">
              <span #errorMessage>La hora de inicio más temprana es requerida</span>
            </mat-error>
          </mat-form-field>
        </div>
        <ng-container
          *ngIf="form.errors && (showError(earliestStartDate) || showError(earliestStartTime))">
          <mat-error *ngIf="form.errors.earliestIncomplete" [attr.title]="message.innerText">
            <span #message>Fecha y hora más temprana incompletas</span>
          </mat-error>
        </ng-container>
      </div>
      <div class="datetime-wrapper">
        <div class="datetime">
          <mat-form-field [appearance]="appearance" class="date pad-right">
            <input
              matInput
              [matDatepicker]="latestStartDatePicker"
              formControlName="latestStartDate"
              [errorStateMatcher]="latestErrorStateMatcher" />
            <mat-hint>Fecha más tardía</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="latestStartDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #latestStartDatePicker></mat-datepicker>
            <mat-error
              *ngIf="form.getError('required', 'latestStartDate')"
              [attr.title]="errorMessage.innerText">
              <span #errorMessage>La fecha de inicio más tardía es requerida</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field [appearance]="appearance" class="time pad-right">
            <input
              matInput
              type="time"
              formControlName="latestStartTime"
              [errorStateMatcher]="latestErrorStateMatcher" />
            <mat-hint>Hora más tardía</mat-hint>
            <mat-error
              *ngIf="form.getError('required', 'latestStartTime')"
              [attr.title]="errorMessage.innerText">
              <span #errorMessage>La hora de inicio más tardía es requerida</span>
            </mat-error>
          </mat-form-field>
        </div>
        <ng-container
          *ngIf="
            form.errors &&
            (showError(earliestStartDate) ||
              showError(earliestStartTime) ||
              showError(latestStartDate) ||
              showError(latestStartTime))
          ">
          <mat-error
            *ngIf="
              !form.errors.endIncomplete &&
              !latestStartDate.invalid &&
              !latestStartTime.invalid &&
              (form.errors.latestStartDate || form.errors.latestStartTime)
            "
            [attr.title]="message.innerText">
            <span #message
              >La fecha y hora de inicio más tardía debe ser mayor o igual a la fecha y hora de inicio más temprana</span
            >
          </mat-error>
          <mat-error *ngIf="form.errors.latestIncomplete" [attr.title]="message.innerText">
            <span #message>Fecha y hora más tardía incompletas</span>
          </mat-error>
        </ng-container>
      </div>
      <app-duration-min-sec-form
        class="app-duration-min-sec-form"
        [parentFormGroup]="minDuration"
        [errorStateMatcher]="breakRequestErrorStateMatcher"
        [labelName]="'Duración Mínima'"></app-duration-min-sec-form>
    </section>
    <div class="delete-break-request">
      <button
        mat-icon-button
        type="button"
        title="Eliminar regla de descanso"
        (click)="remove.emit()"
        *ngIf="form.enabled">
        <mat-icon svgIcon="delete"></mat-icon>
      </button>
    </div>
  </div>
</form>
