<h1 mat-dialog-title>Subir envíos y vehículos desde CSV</h1>
<div mat-dialog-content>
  <mat-horizontal-stepper
    (selectionChange)="onStepperSelectionChange($event)"
    [linear]="true"
    #stepper>
    <!-- step 1 - open file -->
    <mat-step [stepControl]="uploadForm">
      <form [formGroup]="uploadForm">
        <ng-template matStepLabel>Subir Archivo</ng-template>
        <p>
          Este diálogo te guiará a través del proceso de subir un conjunto de envíos y/o
          vehículos desde archivos CSV. Este método solo admite un subconjunto de los campos que la API
          de Cloud Fleet Routing admite. Por favor usa el cargador JSON para soporte completo de la API.
        </p>
        <div>
          Puedes descargar archivos CSV de ejemplo a continuación. Si usas las plantillas CSV, o subes tus propios archivos
          con nombres de columnas que coincidan con las plantillas CSV, los datos subidos se mapearán automáticamente
          a los campos correctos de la API.
          <ul>
            <li><a href="javascript:void(0)" (click)="downloadShipmentsSample()">Envíos</a></li>
            <li><a href="javascript:void(0)" (click)="downloadVehiclesSample()">Vehículos</a></li>
          </ul>
        </div>
        <h4 class="margin-bottom-0">Selecciona tu zona horaria</h4>
        <app-timezone-edit
          appearance="outline"
          [currentTimezone]="timezone"
          (timezoneSelected)="onTimezoneSelected($event)"></app-timezone-edit>
        <h4 class="margin-bottom-0">Selecciona archivo(s) para subir</h4>
        <div class="file-input">
          <div class="file-input__form-field">
            <mat-form-field>
              <mat-label>Archivo de envíos</mat-label>
              <input
                matInput
                [readonly]="true"
                [formControl]="shipmentFilename"
                (click)="selectShipmentFile()" />
            </mat-form-field>
            <button type="button" mat-raised-button cdkFocusInitial (click)="selectShipmentFile()">
              Elegir Archivo
            </button>
          </div>
          <input
            #shipmentFileInput
            type="file"
            accept=".csv"
            (change)="fileSelected($event, true, false)"
            (change)="uploadFilesChanged()" />
        </div>
        <div class="file-input">
          <div class="file-input__form-field">
            <mat-form-field>
              <mat-label>Archivo de vehículos</mat-label>
              <input
                matInput
                [readonly]="true"
                [formControl]="vehicleFilename"
                (click)="selectVehicleFile()" />
            </mat-form-field>
            <button type="button" mat-raised-button (click)="selectVehicleFile()">
              Elegir Archivo
            </button>
          </div>
          <input
            #vehicleFileInput
            type="file"
            accept=".csv"
            (change)="fileSelected($event, false, true)"
            (change)="uploadFilesChanged()" />
        </div>
      </form>
    </mat-step>

    <!-- step 2 - preview -->
    <mat-step>
      <ng-template matStepLabel>{{
        shipmentFileInput && vehicleFileInput ? 'Vista Previa de CSVs' : 'Vista Previa de CSV'
      }}</ng-template>
      <div *ngIf="!isLoadingCsv; else loading">
        <p>
          {{
            shipmentFile && vehicleFile
              ? 'Si las tablas de abajo no se ven como esperabas, intenta usar los archivos de plantilla de la página anterior.'
              : 'Si la tabla de abajo no se ve como esperabas, intenta usar un archivo de plantilla de la página anterior.'
          }}
        </p>
        <mat-tab-group [selectedIndex]="shipmentFile ? 0 : vehicleFile ? 1 : 2">
          <mat-tab label="Envíos" [disabled]="!shipmentFile">
            <div *ngIf="shipmentFile">
              <p *ngIf="shipmentPreviewData.length" class="mt-3">
                {{
                  shipmentPreviewData.length < previewRows
                    ? 'Vista previa de todas las filas.'
                    : 'Vista previa de las primeras ' + previewRows + ' filas.'
                }}
              </p>
              <div class="preview-table">
                <div *ngIf="!errorLoadingShipmentCsv; else errorLoading">
                  <div *ngIf="shipmentPreviewData.length; else noData">
                    <table mat-table [dataSource]="shipmentPreviewData">
                      <ng-container
                        *ngFor="let column of shipmentPreviewCsvColumns"
                        [matColumnDef]="column">
                        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                        <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="shipmentPreviewCsvColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: shipmentPreviewCsvColumns"></tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Vehículos" [disabled]="!vehicleFile">
            <div *ngIf="vehicleFile">
              <p *ngIf="vehiclePreviewData.length" class="mt-3">
                {{
                  vehiclePreviewData.length < previewRows
                    ? 'Vista previa de todas las filas.'
                    : 'Vista previa de las primeras ' + previewRows + ' filas.'
                }}
              </p>
              <div class="preview-table">
                <div *ngIf="!errorLoadingVehicleCsv; else errorLoading">
                  <div *ngIf="vehiclePreviewData.length; else noData">
                    <table mat-table [dataSource]="vehiclePreviewData">
                      <ng-container
                        *ngFor="let column of vehiclePreviewCsvColumns"
                        [matColumnDef]="column">
                        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                        <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="vehiclePreviewCsvColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: vehiclePreviewCsvColumns"></tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-step>

    <!-- step 3 - map columns -->
    <mat-step>
      <ng-template matStepLabel>Mapear Columnas</ng-template>
      <p>
        Mapea los encabezados del CSV a los campos disponibles de la API a continuación. Las columnas que no se mapeen
        serán descartadas.
      </p>
      <p *ngIf="autoMappingUsed">
        Una o más columnas fueron mapeadas automáticamente basándose en su nombre.
      </p>
      <mat-tab-group [selectedIndex]="shipmentFile ? 0 : vehicleFile ? 1 : 2">
        <mat-tab label="Envíos" [disabled]="!shipmentFile">
          <div *ngIf="shipmentFile" class="mt-3">
            <form [formGroup]="mappingFormShipments">
              <div>
                <div class="margin-bottom-1rem">
                  <mat-chip-list aria-label="Mapeos de columnas">
                    <mat-chip
                      *ngFor="let mapping of shipmentChipList"
                      (removed)="removeChip(mapping, true, false)">
                      {{ mapping.apiField }} = {{ mapping.column }}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                  </mat-chip-list>
                </div>
                <div class="field-match-group">
                  <mat-form-field
                    *ngFor="let field of shipmentFieldKeys"
                    appearance="fill"
                    class="item-lg field-match-select">
                    <mat-label>{{ formatFieldName(field) }}</mat-label>
                    <mat-select
                      [formControlName]="field"
                      (selectionChange)="setMapping(field, $event.value, true, false)"
                      [errorStateMatcher]="getErrorStateMatcher(field)">
                      <mat-option>- Sin usar -</mat-option>
                      <mat-option
                        *ngFor="let header of shipmentPreviewCsvColumns"
                        [value]="header"
                        [disabled]="isColumnMapped(header, true)">
                        {{ header }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError(field)">
                      {{ getErrorMessage(field) }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
        </mat-tab>
        <mat-tab label="Vehículos" [disabled]="!vehicleFile">
          <div *ngIf="vehicleFile" class="mt-3">
            <form [formGroup]="mappingFormVehicles">
              <div>
                <div class="margin-bottom-1rem">
                  <mat-chip-list aria-label="Mapeos de columnas">
                    <mat-chip
                      *ngFor="let mapping of vehicleChipList"
                      (removed)="removeChip(mapping, false, true)">
                      {{ mapping.apiField }} = {{ mapping.column }}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                  </mat-chip-list>
                </div>
                <div class="field-match-group">
                  <mat-form-field
                    *ngFor="let field of vehicleFieldKeys"
                    appearance="fill"
                    class="item-lg field-match-select">
                    <mat-label>{{ formatFieldName(field) }}</mat-label>
                    <mat-select
                      [formControlName]="field"
                      (selectionChange)="setMapping(field, $event.value, false, true)"
                      [errorStateMatcher]="getErrorStateMatcher(field)">
                      <mat-option>- Sin usar -</mat-option>
                      <mat-option
                        *ngFor="let header of vehiclePreviewCsvColumns"
                        [value]="header"
                        [disabled]="isColumnMapped(header, false)">
                        {{ header }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError(field)">
                      {{ getErrorMessage(field) }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-step>

    <!-- step 4 - adjust/finish -->
    <mat-step>
      <ng-template matStepLabel>Geocodificar y Validar</ng-template>
      <div *ngIf="!isValidatingWithApi; else validating" class="geocode-results">
        <ng-container *ngIf="!errorValidating; else validationErrorMessages">
          <div *ngIf="!geocodingErrorsShipments?.length && !geocodingErrorsVehicles?.length">
            CSV cargado y geocodificado exitosamente. Si deseas hacer cambios, puedes:
            <ul>
              <li>Continuar al planificador de solicitudes para editar los datos</li>
              <li>
                Corregir la dirección{{ shipmentFile && vehicleFile ? 'es' : '' }} en el CSV subido{{
                  shipmentFile && vehicleFile ? 's' : ''
                }}
                e intentar subir de nuevo
              </li>
            </ul>
            <p>Haz clic en Finalizar para ir al planificador de solicitudes.</p>
          </div>
          <div *ngIf="geocodingErrorsShipments?.length || geocodingErrorsVehicles?.length">
            <mat-error>CSV cargado, pero algunas entradas no pudieron ser geocodificadas. Puedes:</mat-error>
            <ul>
              <li>Corregir manualmente las entradas de abajo</li>
              <li>Eliminar las entradas de la solicitud de abajo</li>
              <li>
                Corregir la dirección{{ shipmentFile && vehicleFile ? 'es' : '' }} en el CSV subido{{
                  shipmentFile && vehicleFile ? 's' : ''
                }}
                e intentar subir de nuevo
              </li>
            </ul>
          </div>
          <div class="d-flex flex-row geocode-results-split">
            <div
              *ngIf="geocodingErrorsShipments?.length || geocodingErrorsVehicles?.length"
              class="col d-flex flex-column resolve-geocode-errors">
              <!-- shipments -->
              <div *ngIf="geocodingErrorsShipments?.length" class="mb-4">
                <h3 class="mb-1">Envíos</h3>
                <div *ngFor="let result of geocodingErrorsShipments" class="d-flex flex-row mb-1">
                  <div class="d-flex flex-column flex-grow-1">
                    <mat-form-field class="pb-0">
                      <mat-label>
                        Fila #{{ result.index + 2 }}
                        <!-- +2 to account for header and 1-based row numbers -->
                        <span *ngIf="result.shipment?.label"> - {{ result.shipment?.label }}</span>
                        <span *ngIf="result.field"> - {{ result.field }}</span>
                      </mat-label>
                      <input #shipmentAddressInput matInput [value]="result.location" />
                    </mat-form-field>
                    <mat-error *ngIf="result.message">
                      {{ result.message }}
                    </mat-error>
                  </div>
                  <button
                    type="button"
                    mat-button
                    class="mat-button"
                    title="Reintentar geocodificación"
                    (click)="retryGeocode(result, shipmentAddressInput.value)">
                    <mat-icon class="icon--smaller m-0">refresh</mat-icon>&nbsp;&nbsp;Reintentar
                  </button>
                  <button
                    type="button"
                    mat-icon-button
                    title="Eliminar registro del CSV"
                    (click)="removeShipmentRow(result.index)">
                    <mat-icon class="icon--smaller m-0">delete</mat-icon>
                  </button>
                </div>
              </div>

              <!-- vehicles -->
              <div *ngIf="geocodingErrorsVehicles?.length">
                <h3 class="mb-1">Vehículos</h3>
                <div *ngFor="let result of geocodingErrorsVehicles" class="d-flex flex-row mb-1">
                  <div class="d-flex flex-column flex-grow-1">
                    <mat-form-field class="pb-0">
                      <mat-label>
                        Fila #{{ result.index + 2 }}
                        <!-- +2 to account for header and 1-based row numbers -->
                        <span *ngIf="result.vehicle?.label"> - {{ result.vehicle?.label }}</span>
                        <span *ngIf="result.field"> - {{ result.field }}</span>
                      </mat-label>
                      <input #vehicleAddressInput matInput [value]="result.location" />
                    </mat-form-field>
                    <mat-error *ngIf="result.message">
                      {{ result.message }}
                    </mat-error>
                  </div>
                  <button
                    type="button"
                    mat-button
                    class="mat-button"
                    title="Reintentar geocodificación"
                    (click)="retryGeocode(result, vehicleAddressInput.value)">
                    <mat-icon class="icon--smaller m-0">refresh</mat-icon>&nbsp;&nbsp;Reintentar
                  </button>
                  <button
                    type="button"
                    mat-icon-button
                    title="Eliminar registro del CSV"
                    (click)="removeVehicleRow(result.index)">
                    <mat-icon class="icon--smaller m-0">delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="col csv-map-container">
              <ng-template [cdkPortalOutlet]="mapPortal"></ng-template>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div mat-dialog-actions>
  <div class="dialog-contorls">
    <button mat-button matDialogClose>Cerrar</button>
  </div>
  <div class="preview-stepper-controls">
    <button mat-button *ngIf="displayBackButton()" (click)="back()">Atrás</button>
    <button
      mat-button
      *ngIf="displayNextButton()"
      [disabled]="nextButtonDisabled()"
      (click)="next()">
      {{ nextButtonText() }}
    </button>
  </div>
</div>

<ng-template #validationErrorMessages>
  <mat-error class="mat-h3"
    >{{ validationErrors.length > 1 ? 'Errores' : 'Error' }} validando archivo:</mat-error
  >
  <mat-list *ngFor="let err of validationErrors">
    <mat-list-item>
      <mat-error>
        {{ err }}
      </mat-error>
    </mat-list-item>
  </mat-list>
</ng-template>

<ng-template #validating>
  <p>Analizando datos y geocodificando...</p>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<ng-template #loading>
  <p>Cargando datos...</p>
</ng-template>

<ng-template #noData>
  <h3 class="mat-error">No se encontraron datos en el archivo.</h3>
</ng-template>

<ng-template #errorLoading>
  <h3 class="mat-error">Error cargando archivo.</h3>
</ng-template>
