<form [formGroup]="form">
  <ng-container *ngIf="pickup">
    <header class="time-window">
      <span class="pad-right">Recolección #{{ pickup.id }}</span>
      <div *ngIf="pickup.visitLabel | splitLabel as labels" class="visit-request-chips">
        <span *ngFor="let label of labels">{{ label }}</span>
      </div>
    </header>
    <section>
      <div class="datetime-wrapper">
        <div class="datetime">
          <mat-form-field
            *ngIf="pickupStartDateCtrl as control"
            [appearance]="appearance"
            class="date pad-right">
            <input matInput [matDatepicker]="startDatePicker" [formControl]="control" />
            <mat-hint>Fecha</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            <mat-error *ngIf="control.errors?.required" [attr.title]="message.innerText">
              <span #message>La fecha es requerida</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field
            *ngIf="pickupStartTimeCtrl as control"
            [appearance]="appearance"
            class="time pad-right">
            <input matInput type="time" [formControl]="control" />
            <mat-hint>Hora</mat-hint>
            <mat-error *ngIf="control.errors?.timeString" [attr.title]="message.innerText">
              <span #message>Formato inválido</span>
            </mat-error>
            <mat-error
              *ngIf="!control.errors?.timeString && control.errors?.required"
              [attr.title]="message.innerText">
              <span #message>La hora es requerida</span>
            </mat-error>
          </mat-form-field>
          <span class="mat-body-strong pad-right to-text">a</span>
        </div>
      </div>
      <div class="datetime-wrapper">
        <div class="datetime">
          <mat-form-field [appearance]="appearance" class="date pad-right">
            <input matInput [matDatepicker]="endDatePicker" formControlName="pickupEndDate" />
            <mat-hint>Fecha</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field
            *ngIf="pickupEndTimeCtrl as control"
            [appearance]="appearance"
            class="time pad-right">
            <input matInput type="time" [formControl]="control" />
            <mat-hint>Hora</mat-hint>
            <mat-error *ngIf="control.errors?.timeString" [attr.title]="message.innerText">
              <span #message>Formato inválido</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </section>
    <mat-error *ngIf="pickupErrors?.globalOutOfRange">
      Recolección fuera del tiempo de inicio y fin global
    </mat-error>
    <mat-error *ngIf="pickupErrors?.vehicleOutOfRange">
      Recolección fuera de la ventana de tiempo del vehículo
    </mat-error>
  </ng-container>
  <ng-container *ngIf="delivery">
    <header class="time-window">
      <span class="pad-right">Entrega #{{ delivery.id }}</span>
      <div *ngIf="delivery.visitLabel | splitLabel as labels" class="visit-request-chips">
        <span *ngFor="let label of labels">{{ label }}</span>
      </div>
    </header>
    <section>
      <div class="datetime-wrapper">
        <div class="datetime">
          <mat-form-field
            *ngIf="deliveryStartDateCtrl as control"
            [appearance]="appearance"
            class="date pad-right">
            <input matInput [matDatepicker]="startDatePicker" [formControl]="control" />
            <mat-hint>Fecha</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            <mat-error *ngIf="control.errors?.required" [attr.title]="message.innerText">
              <span #message>La fecha es requerida</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field
            *ngIf="deliveryStartTimeCtrl as control"
            [appearance]="appearance"
            class="time pad-right">
            <input matInput type="time" [formControl]="control" />
            <mat-hint>Hora</mat-hint>
            <mat-error *ngIf="control.errors?.timeString" [attr.title]="message.innerText">
              <span #message>Formato inválido</span>
            </mat-error>
            <mat-error
              *ngIf="!control.errors?.timeString && control.errors?.required"
              [attr.title]="message.innerText">
              <span #message>La hora es requerida</span>
            </mat-error>
          </mat-form-field>
          <span class="mat-body-strong pad-right to-text">a</span>
        </div>
      </div>
      <div class="datetime-wrapper">
        <div class="datetime">
          <mat-form-field [appearance]="appearance" class="date pad-right">
            <input matInput [matDatepicker]="endDatePicker" formControlName="deliveryEndDate" />
            <mat-hint>Fecha</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field
            *ngIf="deliveryEndTimeCtrl as control"
            [appearance]="appearance"
            class="time pad-right">
            <input matInput type="time" [formControl]="control" />
            <mat-hint>Hora</mat-hint>
            <mat-error *ngIf="control.errors?.timeString" [attr.title]="message.innerText">
              <span #message>Formato inválido</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </section>
    <mat-error *ngIf="deliveryErrors?.deliveryOutOfRange"> Entrega antes de la recolección </mat-error>
    <mat-error *ngIf="deliveryErrors?.globalOutOfRange">
      Entrega fuera del tiempo de inicio y fin global
    </mat-error>
    <mat-error *ngIf="deliveryErrors?.vehicleOutOfRange">
      Entrega fuera de la ventana de tiempo del vehículo
    </mat-error>
  </ng-container>
  <section class="edit-menu-content">
    <div *ngIf="vehicleCtrl as control" class="item-sm pad-right">
      <mat-form-field [appearance]="appearance">
        <mat-label>Vehículo asociado</mat-label>
        <input matInput [formControl]="control" [matAutocomplete]="auto" />
        <mat-autocomplete
          class="visit-vehicles-panel"
          #auto="matAutocomplete"
          [displayWith]="getVehicleName">
          <cdk-virtual-scroll-viewport
            style="height: 200px"
            [itemSize]="optionItemSize"
            minBufferPx="200"
            maxBufferPx="400">
            <mat-option
              [style.height.px]="optionItemSize"
              *cdkVirtualFor="let vehicle of filteredVehicles$ | async"
              [value]="vehicle">
              {{ getVehicleName(vehicle) }}
            </mat-option>
          </cdk-virtual-scroll-viewport>
        </mat-autocomplete>
        <mat-error
          *ngIf="control.errors?.required && (control.touched || control.dirty)"
          [attr.title]="message.innerText">
          <span #message>El vehículo es requerido</span>
        </mat-error>
        <mat-error
          *ngIf="
            control.errors?.invalid &&
            !control.errors.required &&
            (control.touched || control.dirty)
          "
          [attr.title]="message.innerText">
          <span #message>Vehículo inválido</span>
        </mat-error>
      </mat-form-field>
    </div>
  </section>
  <section class="warnings" *ngIf="pickupWarnings || deliveryWarnings as warnings">
    <span class="mat-body-strong">Advertencia</span>
    <p *ngIf="pickupWarnings?.visitRequestOutOfRange">Recolección fuera de la ventana de tiempo de solicitud de visita</p>
    <p *ngIf="deliveryWarnings?.visitRequestOutOfRange">
      Entrega fuera de la ventana de tiempo de solicitud de visita
    </p>
    <p *ngIf="warnings.shipmentTypeCannotBePerformedBySameVehicle as error">
      El tipo de envío "{{ error.shipmentType }}" no puede estar junto con
      {{ formatTypes(error.otherShipmentTypes) }}
      en el mismo vehículo
    </p>
    <p *ngIf="warnings.shipmentTypeCannotBeInSameVehicleSimultaneously as error">
      El tipo de envío "{{ error.shipmentType }}" no puede estar junto con
      {{ formatTypes(error.otherShipmentTypes) }}
      en el mismo vehículo simultáneamente
    </p>
    <p *ngIf="warnings.shipmentTypeMustBePerformedBySameVehicle as error">
      El tipo de envío "{{ error.shipmentType }}" debe estar junto con
      {{ formatTypes(error.otherShipmentTypes) }} en el mismo vehículo
    </p>
    <p *ngIf="warnings.shipmentTypeMustBePerformedBySameVehicleAtPickupTime as error">
      El tipo de envío "{{ error.shipmentType }}" debe estar junto con
      {{ formatTypes(error.otherShipmentTypes) }} en el mismo vehículo al momento de la recolección
    </p>
    <p *ngIf="warnings.shipmentTypeMustBePerformedBySameVehicleAtDeliveryTime as error">
      El tipo de envío "{{ error.shipmentType }}" debe estar junto con
      {{ formatTypes(error.otherShipmentTypes) }} en el mismo vehículo al momento de la entrega
    </p>
    <ng-container *ngIf="warnings.shipmentExcessDemand as error">
      <p *ngFor="let type of getKeys(error)">
        El tipo de demanda "{{ type }}" excede la capacidad del vehículo por {{ error[type] }}
      </p>
    </ng-container>
  </section>
</form>
